.edit_screen {
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: calc(var(--font-size) + 2rem) 5rem 1fr;
}

.basic_program_data {
    display: flex;
}
.basic_program_data__icon {
    margin-left: 1rem;
}
.basic_program_data__title {
    margin-left: 1rem;
}

.tools {
    display: flex;
    margin-bottom: 0px;
}

.tools__tool {
    display: flex;
    align-items: center;
    background-color: #454647;
    border-radius: 6px;
    padding: 6px;

    width: 160px;
    box-shadow: 1px 1px 5px 1px black;

    cursor: pointer;

    user-select: none;
    -moz-user-select: none;
}

.tools__trash_can {
    width: 260px;
    border-radius: 6px;
    box-shadow: inset 1px 1px 5px 1px black;
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    background-color: #313233;
}
.tools__trash_can > i {
    opacity: 0.7;
    margin-right: 1rem;
}

.tools__tool:not(:first-child) {
    margin-left: 1rem;
}

.tools__tool__text {
    flex: 0 0 65%;
    display: flex;
    justify-content: center;
}

.tools__tool_icon {
    flex: 0 0 35%;
    display: flex;
    justify-content: center;
}
.text_input {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color);
    background: transparent;
    border: none;
    border-bottom: 2px solid gray;

    outline: none;

    height: 100%;

    transition: border ease-in-out 200ms;
}
.text_input:hover {
}
.text_input:focus {
}
.peh__iterations_input {
    width: 2rem;
    text-align: center;
}
.peh__iterations_input::-webkit-inner-spin-button {
    display: none;
}
.peh__name_input {
}
.peh__duration_input {
}

.error_msg {
    width: 100%;
    background-color: rgba(219, 86, 96, 0.8);
    border-radius: 6px;
    border: 1px solid dimgray;
    padding: 0.5rem;
    opacity: 1;
    font-size: calc(var(--font-size) * 0.75);
}