.title_screen__introduction {
    display: flex;

    text-align: center;

    padding: 2rem;
}

.title_screen__favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}