.drawer_menu {
    box-shadow: 0 0 15px 1px black;
    background: #3E4040;
    height: 100%;
    width: 15%;
    opacity: 1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.drawer_menu__item {
    border: 0;
    background: transparent;

    color: var(--font-color);
    font-size: calc(var(--font-size) - 0.5rem);
    font-family: var(--font-family);

    width: 100%;
    padding: 0.25rem;
    display: flex;
    align-items: center;

    cursor: pointer;
    outline: none;
}
:not(.drawer_menu__item_selected).drawer_menu__item:hover,
:not(.drawer_menu__item_selected).drawer_menu__item:focus {
    background: #434545;
}
.drawer_menu__item__icon {
    flex: 0 0 15%;
    font-size: calc(var(--font-size) - 1rem);
    padding-right: 1rem;
}
.drawer_menu__item__icon_setting {
    font-size: calc(var(--font-size) - 0.6rem);
}
.drawer_menu__item_selected {
    background: #494b4b;
}

.drawer_menu__header {
    font-size: calc(var(--font-size) - 0.75rem);
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin: 0.25rem 0;
}
.drawer_menu__separator {
    width: 97%;
    margin: 0.25rem 0.5rem;
    border-bottom: 2px solid #6F7373;
}

.drawer_menu__close_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: auto;
    text-align: center;

    font-size: calc(var(--font-size) - 0.4rem);
}
.drawer_menu__close_btn__icon {
    padding: 0 0.2rem;
}

@media(min-width: 1000px){
    .drawer_menu {
        position: relative;
        left: 0;
        transition: left ease-out 150ms, width ease-out 200ms, opacity ease-out 400ms;
        opacity: 1;
    }
    .drawer_menu_overlay {
        display: none;
    }
    .drawer_menu__hidden {
        position: relative;
        width: 0;
        left: -100%;
        opacity: 0;
    }
    .drawer_menu__close_btn {
        display: none;
    }
}
@media(min-resolution: 200dpi) {
    .drawer_menu__item {
        font-size: calc(var(--font-size) - 1rem);
    }
}
@media(max-width: 1000px){
    .drawer_menu {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 40%;
    }
    .drawer_menu_overlay {
        display: initial;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: gray;
        opacity: 0.6;
        transition: opacity ease-out 150ms;
    }
    .drawer_menu__hidden {
        opacity: 0;
        margin-left: -100%;
    }
}