html {
    height: 100%;
    box-sizing: border-box;

    --font-family: Share Tech Mono, serif;
    --font-color: rgba(255, 255, 255, 0.85);
    --font-size: 2rem;

}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    height: 100%;

    color: var(--font-color);
    font-size: var(--font-size);
    font-family: var(--font-family);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #242626;
}

.main_screen {
    width: 84vw;
    height: 87vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: calc(var(--font-size) + 2rem) 3px auto 3px auto 3px calc(var(--font-size) + 2rem);

    justify-content: center;
    /*align-items: center;*/

    box-shadow: 0 0 15px 1px black;
    background-color: #3E4040;
    border-radius: 2px;

    margin: 2rem;
}

.section {
    width: 100%;
    padding: 0 1rem;
    overflow: hidden;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: var(--font-size);
    font-family: var(--font-family);
}

.section_separator {
    width: 98%;
    border-bottom: 1px solid #6F7373;
    justify-self: center;
}

.description {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.description_program_controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.timer {
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: repeat(6, var(--font-size));
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--font-size) - 0.5rem);

    align-self: start;
}

.timer__current_time_display {
    margin: auto;
}

.timer__bar {
    width: 100%;
    height: var(--font-size);
    text-shadow:
            -1px -1px 1px gray,
            -1px  0px 1px gray,
             0px -1px 1px gray,
             1px  1px 1px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 1px 1px 2px 1px black;
    border-radius: 2px;
}

.timer__bar_l0 {
    background: linear-gradient(to right, #89FF23, #89FF23) #313233;
    background-repeat: no-repeat;
}
.timer__bar_l1 {
    background: linear-gradient(to right, #EE00FF, #EE00FF) #313233;
    background-repeat: no-repeat;
}
.timer__bar_l2 {
    background: linear-gradient(to right, #FF7A00, #FF7A00) #313233;
    background-repeat: no-repeat;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls__volume {
    display: flex;
    align-items: center;
    flex: 0 0 25%;
    border-left: 2px solid var(--font-color);
    padding-left: 2rem;
}

.controls__button__volume {
    margin-right: 1rem;
}

.controls__playback {
    display: flex;
    justify-content: space-between;
    flex: 0 0 25%;
    border-right: 2px solid var(--font-color);
    padding-right: 2rem;
}

.icon-button {
    border: 0;
    padding: 0;
    background: transparent;

    color: var(--font-color);
    font-size: var(--font-size);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.icon-button:disabled {
    color: rgba(205, 205, 205, 0.4);
}

@media(min-resolution: 200dpi) {
    html {
        --font-size: 4rem;
    }

    .timer {
        display: flex;
        flex-direction: column;
    }

    .timer__duration {
        display: none;
    }

    .timer__current_time {
        display: none;
    }
}
@media(max-width: 1000px){
    .main_screen {
        grid-template-rows: calc(var(--font-size) + 2rem) 3px auto 3px auto 3px calc(var(--font-size) * 2 + 4rem);
        margin: 0;
        height: 90vh;
        width: 98vw;
    }
    .controls {
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;
    }
    .controls__playback {
        border-right: none;
        padding-right: 0;
    }
    .controls__volume {
        border-left: none;
        padding: 0 2rem;
    }
}