html {
    height: 100%;
    box-sizing: border-box;

    --font-family: Share Tech Mono, serif;
    --font-color: rgba(235, 235, 235, 0.9);

}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 3fr 1fr;

    color: var(--font-color);
    font: 3rem var(--font-family);
}

.section {
    width: 100%;
    border-radius: 5px;
    background-color: #333333;
}

.title {
    height: 100%;

    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;

    font: 3rem var(--font-family);
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.2rem;
}

.timer {
    padding: 1rem;

    margin: 0.2rem 0;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: repeat(6, minmax(1rem, 2rem));
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    font: 1.5rem var(--font-family);
}

.timer__duration_display {
    margin: auto;
}

.timer__current_time_display {
    margin: auto;
}

.timer__bar {
    height: 2rem;
    text-shadow:
            -1px -1px 1px gray,
            -1px  0px 1px gray,
             0px -1px 1px gray,
             1px  1px 1px gray;
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
}

.timer__bar_l0 {
    background: linear-gradient(to right, #89FF23, #EBFFDA);
}

.timer__bar_l1 {
    background: linear-gradient(to right, #EE00FF, #FDDAFF);
}

.timer__bar_l2 {
    background: linear-gradient(to right, #FF7A00, #FFECDA);
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.icon-button {
    border: 0;
    padding: 0;
    background: transparent;

    color: var(--font-color);
    font-size: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}